# Debe apuntar al issuer (Keycloak real o mock-issuer)
ISSUER=http://localhost:4444/realms/test
# Audiencia que exige tu API (configurada por Audience Mapper)
AUDIENCE=your-api-audience
# ClientId autorizado (azp) que emite el token para el front
FRONT_CLIENT=frontend-client-id
# Puerto local del ejemplo Express
PORT=3001
